 body{
  font-family: 'Black Ops One', cursive;
  height: 100vh;
 }
 #game{
  /* border: 1px solid white; */
  width: 90%;
  flex-basis: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  display: none;
}
#game div{
  flex-basis: 15%;
  height: 18%;
  border: 1px solid black;
}
#game div:hover{
  cursor: pointer;
}
.header{
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 70px;
  margin-top: -5%;
  /* border: 1px solid white; */
  /* background-color: brown; */
}
.container{
  flex-basis: 100%;
  height: 100%;
  /* margin-left: -10px;  */
  /* margin-top: -18px; */
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 80px;
  background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.5)), url('background_image2.jpg');
  object-fit: contain;
  background-size: 100% 100%;
  /* background-blend-mode:; */
  /* background-repeat: no-repeat; */
  /* background-color: rgb(218, 217, 217); */
}
.container div{
  /* border: 1px solid white; */
}
.instructions{
  display: flex;
  flex-direction: column;
  /* border: 1px solid white; */
  justify-content: space-between;
  align-items: center;
  flex-basis: 10%;
  color: white;
  font-size: 25px;
}
.display_button{
  /* border: 1px solid white; */
  flex-basis: 10%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 70%; */

  /* margin-top: -500px; */
}
.start{
  flex-basis: 40%;
  height: 60%;
  font-size: 23px;
  border-radius: 10px;
  /* background-color: brown; */
  text-transform: uppercase;
  /* color: white; */
  font-family: 'Black Ops One', cursive;

}
.restart{
  /* border: 1px solid black; */
  flex-basis: 7%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: start;

  display: none;
}
.restart_game{
  flex-basis: 40%;
  height: 80%;
  font-size: 20px;
  border-radius: 10px;
  /* background-color: brown; */
  /* color: white; */
  font-family: 'Black Ops One', cursive;
  text-transform: uppercase;
  font-size: bold;
  /* border-color: white; */
}
.score_container{
  flex-basis: 10%;
  width: 90%;
  /* border: 1px solid white;  */
  display: flex;
  /* flex-direction: column; */
  /* margin-top: -30px; */
  justify-content: center;
  align-items: center;
  /* display: none; */
  /* column-gap: 400px; */
}
.score{
  flex-basis: 20%;
  height: 40%;
  /* border: 1px solid white; */
  font-size: 25px;
  color: white;
  text-align: center;
  display: none;
  /* margin-left: 400px; */
}
.best_score{
  flex-basis: 40%;
  height: 40%;
  /* border: 1px solid white; */
  font-size: 25px;
  color: white;
  text-align: center;
}
@media(min-width: 950px) and (max-width: 1050px){
  .restart_game{
    font-size: 18px;
  }
}
@media(min-width: 701px) and (max-width: 950px){
  .restart_game{
    font-size: 15px;
  }
  .start{
    font-size: 17px;
  } 
}
@media(min-width: 500px) and (max-width: 700px){
  .container{
    /* border: 1px solid white; */
    /* display: none; */
    /* justify-content: end; */
    /* row-gap: 0; */
  }
  .instructions{
    font-size: 22px;
    width: 80%;
    text-align: center;
  }
  .container div{
    /* border: 1px solid white; */
  }
  .header{
    font-size: 50px;
  }
  #game{
    /* border: 1px solid white; */
    /* margin-top: -300px; */
    /* margin-top: -20px; */
    flex-basis: 75%;
    width: 90%;
  }
  .score_container{
    /* border: 1px solid black; */
    justify-content: center;
    align-items: end;
  }
  .score_container div{
    flex-basis:50%;
    height: 60%;
    font-size: 22px;
    /* border: 1px solid black; */
  }
  .start{
    flex-basis: 90%;
  }
  #game div{
    flex-basis: 15%;
    height: 15%;
  }
  .restart{
    flex-basis: 8%;
    /* border: 1px solid black; */
    /* display: flex; */
  }
  .restart_game{
    flex-basis: 70%;
    height: 75%;
    font-size: 18px;
  }
}
@media(max-width: 499px){
  .container{
    /* border: 1px solid black; */
    /* display: none; */
    justify-content: space-evenly;
    row-gap: 0px;
  }
  .container div{
    /* border: 1px solid white; */
  }
  #game{
    /* border: 1px solid black; */
    /* margin-top: -20px; */
  } 
  .header{
    font-size: 40px;
    /* margin-top: -40%; */
  }
  .instructions{
    font-size: 18px;
    width: 85%;
    text-align: center;
  }
  .score_container{
    /* border: 1px solid black; */
    justify-content: center;
  }
  .score_container div{
    flex-basis:50%;
    font-size: 21px;

    /* border: 1px solid black; */
  }
  .display_button{
    /* border: 1px solid black; */
    /* margin-top: 300px; */
    width: 60%;
  }
  .start{
    flex-basis: 90%;
    font-size: 19px;
  }
  #game div{
    flex-basis: 25%;
    height: 10%;
  }
  .restart{
    flex-basis: 8%;
    /* border: 1px solid black; */
    /* display: flex; */
  }
  .restart_game{
    flex-basis: 90%;
    height: 75%;
    font-size: 16px;
  }
  
}
@media(max-height: 750px){
  .start{
    font-size: 17px;
  }
}
